body {
    background-color: #333 !important;
}

form {
    text-align: center;
}

#e-mail-text {
    margin-right: 19.5px;
}

#submit-button {
    position: relative;
    top: 17px;
    left: 98px;
}

.forgot-password {
    background: #EEE9E9;
    border-color: grey;
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    width: 300px;
    height: 140px;
    margin: 0 auto;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -150px;
}

.change-password-text {
    text-align: center;
    font-family: Garamond;
}

.warning-message {
    color: red;
    position: relative;
    left: 80px;
    top: 10px;
}

.sign-in {
    position:absolute;
    bottom: 140px;
}