body {
     background-color: #ecf0f9 !important;
}

form {
    text-align: center;
    padding: 300px 0;
}

#rating {
    position: relative;
    top: 10px;
    left: 2px;
}

#review {
    position: relative;
    top: 10px;
    left: 2px;
}

#button {
    position: relative;
    bottom: 10px;
}

.error-message {
    color: red;
    position: relative;
    text-align: center;
    bottom: 620px;
}