<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platforma web pentru recenzii pentru filme</title>
    <link rel="stylesheet" href="../static/style-account.css">
    <link rel="icon" href="../static/site-image.jpeg">

</head>
<body>
    <div class="create-account">
        <h1 class="create-account-text">Create account</h1>
        <form class="" action="{{ url_for('create_account')}}" method="post">
            <div>
                <label id="username"><strong>Username: </strong></label>
                <input type="text" name="username" required="required">
            </div>
            <br>
            <div>
                <label id="e-mail-text"><strong>E-mail: </strong></label>
                <input type="text" name="email" required="required">
            </div>
            <br>
            <div>
                 <label><strong>Password: </strong></label>
                 <input type="password" name="password" required="required">
            </div>
            <br>
            <div>
                <label id="repeat-password-text"><strong>Repeat Password: </strong></label>
                <input id="repeat-pass-box" type="password" name="repeat_password" required="required">
                <input id="create-account-button" type="submit" value="Submit">
            <div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="warning-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>