<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistem pentru gestiunea planificarilor de evenimente</title>
    <link rel="stylesheet" href="../static/style-change-password.css">
    <link rel="icon" href="../static/site-image.jpeg">
</head>
<body>

    <div class="forgot-password">
        <a class="back" href="{{url_for('home')}}"><h4><em>Home</em></h4></a>
        <h2 class="change-password-text">Change password</h2>
        <form class="" action="{{ url_for('change_password') }}" method="post">
            <div>
                <label id="e-mail-text"><strong>New password: </strong></label>
                <input type="password" name="new_password" required="required">
                <input id="submit-button" type="submit" value="Submit">
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="warning-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>