<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platforma web pentru recenzii pentru filme</title>
    <link rel="stylesheet" href="../static/style-password.css">
    <link rel="icon" href="../static/site-image.jpeg">
</head>
<body>
    <div class="forgot-password">
        <h2 class="change-password-text">Change password</h2>
        <a class="sign-in" href="{{url_for('sign_in')}}"><h4><em>Sign in</em></h4></a>
        <form class="" action="{{ url_for('forgot_password') }}" method="post">
            <div>
                <label id="e-mail-text"><strong>E-mail: </strong></label>
                <input type="text" name="email" required="required">
                <input id="submit-button" type="submit" value="Submit">
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="warning-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>